<div class="klo">
    <ul>
        <li><strong>Personalité :</strong> {{plant.personality}}</li>
        <li><strong>Description :</strong> {{plant.description}}</li>
        <li><strong>Maintenance :</strong> {{plant.entretien}}</li>
        <li><strong>Fun Filter :</strong> {{plant.fun_filter}}</li>
        <li><strong>Prix :</strong> {{plant.price}} €</li>
        <li><strong>En Stock :</strong> {{plant.stock}} pièces</li>
        <li><strong>Date d'ajout :</strong> {{plant.date_ajout}}</li>
        <li><strong>Durée de vie :</strong> {{plant.dureeVie}}</li>
        <li>
            <ul><strong>Arrosage</strong>
            @for(w of plant.arrosage;track $index){
                
                    <!-- <li><strong> Saison: </strong>{{w.saison}} <strong> fréquence: </strong>{{w.frequence}}  <strong> quantitée: </strong>{{w.quantite}}</li> -->
            }</ul>
        </li>
    </ul>
</div>