h1 {
    color: #1C593A;
    font-size: 34px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.alert {
    margin-top: 40px;
    margin-bottom: 20px;
}
.shop {
    color: #1C593A;
    font-weight: bold;
    text-decoration: underline !important;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.shop:hover {
    color: #529F76;
}
.back{
    color: #12452C;
    font-size: 44px;
    position: absolute;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.back:hover {
    color: #33845D;
}
