.contact-form {
    background-color: #629A74; 
    padding: 40px;
    border-radius: 0 8px 8px 0;
    box-shadow: 0 0 15px #1C593A;
    margin: 50px;
    position:relative;
    left:400px
}

.contact-form .form-label {
    font-weight: bold;
    color: #333; 
}

.submit-btn {
    background-color: #1C593A; 
    color: #ffffff; 
    width: 50%;
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input , textarea{
    background-color: #B9F1C3;
    border: 1px solid #1C593A;
}

.submit-btn:hover {
    background-color: #79BA91; 
    color: #1C593A; 
    border: 1px solid #1C593A;
}
.form-select{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #B9F1C3;
    color: #001e1d;
}
.section-title {
    padding: 15px;
    background: #72B58C;
    border: 1px solid #72B58C;
    border-left: 7px solid #1C593A;
    color: white;
}