<div>
    <h1>Ajouter une plante</h1>
</div>
<div class="col-lg-5 contact-form">
    <form>
        <div class="mb-3">
            <label for="personality" class="form-label">Personality</label>
            <input type="text" class="form-control" id="personality" placeholder="Personality" name="personality" required />
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" placeholder="Description" name="description" required ></textarea>
        </div>
        <div class="mb-3">
            <label for="bio" class="form-label">Biography</label>
            <textarea  class="form-control" id="bio" placeholder="Biography" name="bio" required ></textarea>
        </div>
        <div class="mb-3">
            <label for="watering" class="form-label">Watering frequency</label>
            <input type="text" class="form-control" id="watering" rows="4" name="watering" placeholder="Watering frequency" required/>
        </div>
        <div class="mb-3">
            <label for="maintenance" class="form-label">Maintenance</label>
            <input type="text" class="form-control" id="maintenance" name="maintenance" rows="4" placeholder="Maintenance" required/>
        </div>
        <div class="mb-3">
            <label for="filter" class="form-label">Fun filter</label>
            <input type="text" class="form-control" id="filter" placeholder="Fun filter" name="filter" required />
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" id="price" placeholder="Price" name="price" required />
        </div>
        <div class="mb-3">
            <label for="stock" class="form-label">In Stock</label>
            <input type="text" class="form-control" id="stock" placeholder="In stock" name="stock" required />
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date Added</label>
            <input type="text" class="form-control" id="date" placeholder="Date Added" name="date" required />
        </div>
        <div class="mb-3">
            <label for="lifespan" class="form-label">Lifespan</label>
            <input type="text" class="form-control" id="lifespan" placeholder="Lifespan" name="lifespan" required />
        </div>
        <div class="mb-3">
            <label for="img" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="img" placeholder="Image URL" name="img" required />
        </div>
        <button type="submit" class="submit-btn">Ajouter<i class="bi bi-send-plus" style="margin-left: 10px;"></i></button>
    </form>
</div>