/* .bgfixed{
    background-image: url('../../../../public/bg3.png');
    background-attachment: fixed;
} */
.contact-form {
    background-color: #629A74; 
    padding: 40px;
    max-width: 650px;
    margin: 40px auto;
    position: relative;
    bottom: 20px;
    top: 20px;
}

.contact-form .form-label {
    font-weight: bold;
    color: #333; 
}

.submit-btn {
    background-color: #1C593A; 
    color: #ffffff; 
    width: 50%;
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn:disabled {
    background-color: #ccc;  
    cursor: not-allowed;
    opacity: 0.6;            
}
input , textarea{
    background-color: #B9F1C3;
    border: 1px solid #1C593A;
}

.submit-btn:hover {
    background-color: #79BA91; 
    color: #1C593A; 
    border: 1px solid #1C593A;
}
.form-select{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #B9F1C3;
    color: #001e1d;
}
.section-title {
    padding: 10px;
    background-color: #629A74;
    border-left: 7px solid #1C593A;
    border-right: 7px solid #1C593A;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    width: 80%;
    margin-left: 10%;
    position: relative;
    top: 20px;
    text-align: center;
}
.pAlert{
    color: #591c1c;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}
input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched,
select.ng-valid.ng-touched {
    border-left: 7px solid #1C593A;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    border-left: 7px solid #591c1c;
}
.shop {
    color: #1C593A;
    font-weight: bold;
    text-decoration: underline !important;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

