.active {
    background-color: #f9bc60;
    color: #001e1d !important;
}

.navbar {
    padding: 0;
    background-color: #004643;
    color: #fffffe;
    font-weight: bold;
}


.search-container {
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input {
    border: none;
    border-radius: 0;
    padding: 10px;
}

.search-button {
    border-radius: 0;
    border: none;
    padding: 10px 15px;
    background-color: #f9bc60;
    color: #001e1d;
}

.search-button:hover {
    background-color: #ce9c50;
}

.search-input::placeholder {
    font-style: italic;
}

.login-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #f9bc60;
    color: #001e1d;
    width: 50%;
}
.login-container:hover {
    background-color: #ce9c50;
    
}
.login-container:active {
    transform: scale(0.95);
}

/* Navbar2 Styles */
.nav2 {
    box-shadow: 0 4px 6px #001e1d;
    border-radius: 8px;
}

.cart-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 30px ;
    transition: background-color 0.3s ease, transform 0.2s ease;
    color: #001e1d;
    background-color: #f9bc60;
}

.cart-button i {
    font-size: 1.2rem;
}

.cart-button:hover {
    background-color: #f9bc60;
    transform: scale(1.05);
}
.cart-button:active {
    background-color: #ce9c50;
    transform: scale(0.95);
}

.sticky {
    position: sticky;
    top: 5px;
    z-index: 1000;
}

