       
       <app-navbar></app-navbar>
       <div class="row align-items-center py-5 m-4">

            <div class="col-lg-4 contact-details">
                <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="Contact Image" />
                <h2>Dites nous tout</h2>
                <p>Votre avis est important pour nous</p>
            </div>

            <div class="col-lg-8 contact-form">
                <form (ngSubmit)="sendEmail()">
                    <div class="mb-3">
                        <label  for="first-name" class="form-label">Pénom:</label>
                        <input [(ngModel)]="fname" type="text" class="form-control" id="first-name" placeholder="Prénom" name="fname" required />
                    </div>
                    <div class="mb-3">
                        <label for="last-name" class="form-label">Nom:</label>
                        <input [(ngModel)]="lname"type="text" class="form-control" id="last-name" placeholder="Nom" name="lname" required />
                    </div>
                    
                    <div class="mb-3">
                        <label for="email-address" class="form-label">Email:</label>
                        <input [(ngModel)]="mail"type="email" class="form-control" id="email-address" placeholder="Email" name="email" required />
                    </div><div class="mb-3">
                        <label for="subject" class="form-label">Objet:</label>
                        <input [(ngModel)]="subject"type="text" class="form-control" id="subject" placeholder="Objet" name="subject" required />
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message:</label>
                        <textarea [(ngModel)]="message" class="form-control" name="message" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="submit-btn">Envoyer<i class="bi bi-send-plus" style="margin-left: 10px;"></i></button>
                </form>
            </div>

        </div>
    

