<footer class="footer pt-4 text-white text-center">
    <div class="container">
        <div class="row">
            <!-- About Us -->
            <div class="col-md-3">
                <h5>About Us</h5>
                <p style="color: #B9F1C3;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum.</p>
            </div>

            <!-- Quick Links -->
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/home" style="color: #B9F1C3;">Home</a></li>
                    <li><a routerLink="/listePlantes" style="color: #B9F1C3;">Catalogue des Plantes</a></li>
                    <li><a routerLink="/aboutUs" style="color: #B9F1C3;">About Us</a></li>
                    <li><a routerLink="/contactUs" style="color: #B9F1C3;">Contact Us</a></li>
                </ul>
            </div>

            <!-- Social Media & Subscription -->
            <div class="col-md-3">
                <h5>Follow Us</h5>
                <div class="social-icons mb-2">
                    <a href="#" class="me-2"><i class="bi bi-facebook" style="font-size: 1.5rem; color: #B9F1C3;"></i></a>
                    <a href="#" class="me-2"><i class="bi bi-instagram" style="font-size: 1.5rem; color: #B9F1C3;"></i></a>
                    <a href="#" class="me-2"><i class="bi bi-twitter" style="font-size: 1.5rem; color: #B9F1C3;"></i></a>
                    <a href="#"><i class="bi bi-linkedin" style="font-size: 1.5rem; color: #B9F1C3;"></i></a>
                </div>
            </div>

            <div class="col-md-3">
                <h5>Our Location</h5>
                <iframe class="w-100 rounded" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=isetch+(isetCh)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                        href="https://www.gps.ie/">
                        gps systems</a>
                </iframe>
            </div>
        </div>

        <hr class="my-4">

        <div class="text-center" style="color: #B9F1C3;">
            <p>&copy; 2024 Aymen_Magri & Sara_Kalai</p>
        </div>
    </div>
</footer>