<div class="div1">
    <h1>Quelle plante est faite pour toi ?</h1>
    <form id="plant-quiz">
        <!-- question 1 -->
        <div class="question">
            <p>1. Quelle est ta saison préférée ?</p>
            <div class="option-group">
                <input type="radio" id="spring" name="q1" value="A">
                <label for="spring">Printemps 🌸</label>

                <input type="radio" id="autumn" name="q1" value="C">
                <label for="autumn">Automne 🍂</label>

                <input type="radio" id="winter" name="q1" value="C">
                <label for="winter">Hiver ❄️</label>

                <input type="radio" id="summer" name="q1" value="B">
                <label for="summer">Été ☀️</label>
            </div>
        </div>

        <!-- question 2 -->
        <div class="question">
            <p>2. Quel type de colocataire es-tu ?</p>
            <div class="option-group">
                <input type="radio" id="discreet" name="q2" value="C">
                <label for="discreet">Discret mais présent quand il faut 👤</label>

                <input type="radio" id="attentive" name="q2" value="A">
                <label for="attentive">Toujours présent et attentif 👀</label>

                <input type="radio" id="easygoing" name="q2" value="B">
                <label for="easygoing">Facile à vivre et indépendant 🛋️</label>

                <input type="radio" id="capricious" name="q2" value="B">
                <label for="capricious">Un peu capricieux, mais toujours de bonne compagnie 🎭</label>
            </div>
        </div>

        <!-- question 3 -->
        <div class="question">
            <p>3. Quand tu travailles ou étudies, ton environnement préféré est...</p>
            <div class="option-group">
                <input type="radio" id="backgroundNoise" name="q3" value="B">
                <label for="backgroundNoise">Avec un peu de bruit de fond 🎶</label>

                <input type="radio" id="sunny" name="q3" value="C">
                <label for="sunny">Lumineux et ensoleillé ☀️</label>

                <input type="radio" id="anywhere" name="q3" value="A">
                <label for="anywhere">Peu importe, tant que je suis bien installé 🛋️</label>

                <input type="radio" id="calm" name="q3" value="A">
                <label for="calm">Calme et bien rangé 📚</label>
            </div>
        </div>

        <!-- question 4 -->
        <div class="question">
            <p>4. À quelle fréquence es-tu prêt à t'occuper de ta plante ?</p>
            <div class="option-group">
                <input type="radio" id="daily" name="q4" value="C">
                <label for="daily">Tous les jours, je veux que ça pousse vite 🌳</label>

                <input type="radio" id="weekly" name="q4" value="A">
                <label for="weekly">Une fois par semaine, c'est parfait 🌱</label>

                <input type="radio" id="occasional" name="q4" value="C">
                <label for="occasional">Juste de temps en temps 🌺</label>

                <input type="radio" id="monthly" name="q4" value="B">
                <label for="monthly">Une fois par mois, ça m'arrange 🌵</label>
            </div>
        </div>

        <!-- question 5 -->
        <div class="question">
            <p>5. Qu'est-ce qui te décrit le mieux ?</p>
            <div class="option-group">
                <input type="radio" id="creative" name="q5" value="A">
                <label for="creative">Amusant et créatif 🎨</label>

                <input type="radio" id="curious" name="q5" value="C">
                <label for="curious">Curieux et observateur 🔍</label>

                <input type="radio" id="energetic" name="q5" value="A">
                <label for="energetic">Énergique et enthousiaste ⚡</label>

                <input type="radio" id="calmPersonality" name="q5" value="B">
                <label for="calmPersonality">Calme et serein 🌊</label>
            </div>
        </div>

        <!-- bouton pour obtenir les résultats -->
        <button type="button" (click)="calculateResult()">Résultat</button>
    </form>

    <!-- afficher les résultats si tabPlant n'est pas vide (liste des plantes trouvées)-->
    <div>
        @if(tabPlant.length>0){
        <h2 class="text-center mt-5 ">Nous avons trouvé pour toi :</h2>
        <div class="section-decriptipon d-flex flex-wrap justify-content-center p-3">
            @for (plant of tabPlant; track plant.id) {
            <app-plant-item [plant]="plant" class="m-2"></app-plant-item>
            }
        </div>
        }
        <!--message si tabPlant est vide-->
        @else{
        <p id="result">Répondez à toutes les questions pour voir les résultats...</p>
        }
    </div>

</div>