<a routerLink="/wishlist" title="Wishlist">
<div class="svg-wrapper">
  <svg height="60" width="190" xmlns="http://www.w3.org/2000/svg">
    <rect class="shape" height="60" width="190"></rect>
    </svg>
    <div class="text">wishlist</div>
</div>
</a> 
<!---------------->
<div class="text-center welcome py-5 text-white">
    <div class="welcome-content">
        <h1 class="display-4 mb-5">Catalogue des Plantes</h1>
        <div class="row justify-content-center gap-2">
            
            <!-- Fun Filter Selection -->
            <div class="col-md-3" style="width: 450px;">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="funFilterSelect">Filtre Amusant</label>
                    <select class="form-select" id="funFilterSelect" (change)="onFilter($event)">
                        <option selected value="">Choisissez un filtre amusant...</option>
                        <option value="">Toutes</option>
                        <option value="Facile à vivre">Facile à vivre</option>
                        <option value="Bavarde">Bavarde</option>
                        <option value="Énergique">Énergique</option>
                    </select>
                </div>
            </div>

            <!-- Category Selection -->
            <div class="col-md-3" style="width: 400px;">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="categorySelect">Catégorie</label>
                    <select class="form-select" id="categorySelect" (change)="onFilter($event)">
                        <option selected value="">Choisissez une catégorie...</option>
                        <option value="">Toutes</option>
                        <option value="Plantes fleuries">Plantes fleuries</option>
                        <option value="Cactus et succulentes">Cactus et succulentes</option>
                        <option value="Plantes purificatrices d'air">Plantes purificatrices d'air</option>
                    </select>
                </div>
            </div>

            <!-- Sort by Value Button -->
            <div class="col-md-3 col-sm-6 btn-group">
                <button class="btn mb-3" title="Trier par valeur">
                    <span class="d-flex align-items-center gap-2">Trier par valeur <i class="bi bi-currency-dollar"></i></span>
                </button>
                <button class="btn mb-3" (click)="sortAscending()" title="Trier par valeur croissante">
                     <i class="bi bi-arrow-up"></i>
                </button>
                <button class="btn mb-3" (click)="sortDescending()" title="Trier par valeur décroissante">
                    <i class="bi bi-arrow-down"></i>
                </button>
            </div>

            <!-- Price Filter -->
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <div class="range">
                        <div class="sliderValue">
                            <span>100</span>
                        </div>
                        <div class="field">
                            <div class="value left">10</div>
                            <input type="range" min="10" max="200" value="100" steps="1">
                            <div class="value right">200</div>
                        </div>
                    </div>
                </div>  
            </div>
            
        </div>
    </div>
</div>


<!-- afficher selon catégorie-->
<!--Plantes fleuries-->
<div id="plant-fleuries">
    <div class="pt-3 mb-1">
        <div class="section-title container">
            <h4 class=" text-uppercase">Plantes fleuries</h4>
        </div>

        <div class="section-decriptipon d-flex flex-wrap justify-content-center p-3">
            @for (plant of filteredPlants; track plant.id) {
                @if (plant.category === "Plantes fleuries") {
                    <app-plant-item [plant]="plant" class="m-2"></app-plant-item>
                }
            }
        </div>
    </div>
</div>
<!--Plantes cactus et succulentes-->
<div id="plant-cactus">
    <div class="pt-5 mb-3">
        <div class="section-title container">
            <h4 class=" text-uppercase">Cactus et succulentes</h4>
        </div>

        <div class="section-decriptipon d-flex flex-wrap justify-content-center p-3">
            @for (plant of filteredPlants; track plant.id) {
                @if (plant.category === "Cactus et succulentes") {
                    <app-plant-item [plant]="plant" class="m-2"></app-plant-item>
                }
            }
        </div>
    </div>
</div>
<!--Plantes purificatrices d'air-->
<div id="plant-purificatrices">
    <div class="pt-5 mb-3">
        <div class="section-title container">
            <h4 class=" text-uppercase">Plantes purificatrices d'air</h4>
        </div>

        <div class="section-decriptipon d-flex flex-wrap justify-content-center p-3">
            @for (plant of filteredPlants; track plant.id) {
                @if (plant.category === "Plantes purificatrices d'air") {
                    <app-plant-item [plant]="plant" class="m-2"></app-plant-item>
                }
            }
        </div>
    </div>
</div>