
.section-title {
    padding: 15px;
    background: #72B58C;
    border: 1px solid #72B58C;
    border-left: 7px solid #1C593A;
    color: white;
}
.btn{
    background-color: #f9bc60;
    color: #004643;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: #ce9c50;
    color: #004643;
}
.btn:active{
    transform: scale(0.98);
}

/***/

.welcome {
    background-image: url(../../../../public/waveG.png);
    background-size: cover;
    background-position: center;
    height: 420px;
  }  
  .welcome-content{
    animation: slideInFromTop 1s ease-out;
    z-index: 0;
  }
  @keyframes slideInFromTop {
    0% {
      transform: translateY(-60%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .input-group-text{
    background-color: #f9bc60;
    color: #004643;
    font-weight: bold;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .input-group-text:hover{
    background-color: #ce9c50;
  }
  .form-select:hover{
    background-color: #ce9c50;
  }

.form-select{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #ad9064;
    color: #001e1d;
}
/* From Uiverse.io by AmIt-DasIT */ 
.svg-wrapper {
  width: 190px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
  position: absolute;
  background-color: #5A8F6C;
}
a{
  position: sticky;
  top: -115px;
  z-index: 1000;
  left: 10px;
}

.shape {
  stroke-dasharray: 100 300;
  stroke-dashoffset: -297;
  fill: transparent;
  stroke: #1C593A;
  stroke-width: 5px;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text {
  font-size: 22px;
  top: -45px;
  position: relative;
  color: #AFE7BB;
  letter-spacing: 2px;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.svg-wrapper:hover {
  background-color: #72B58C;
  transition: 1s;
}

/*********************************************/
.search-container {
  width: 300px;
  margin: 10px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input {
  border: none;
  border-radius: 0;
  padding: 10px;
}

.search-button {
  border-radius: 0;
  border: none;
  padding: 10px 15px;
  background-color: #f9bc60;
  color: #1C593A;
}

.search-button:hover {
  background-color: #ce9c50;
}

.search-input::placeholder {
  font-style: italic;
}