.cart-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #629A74;
    box-shadow: 0 0 10px 0 #1C593A;
}

.cart-header {
    text-align: center;
    color: #1C593A;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 3px solid #B9F1C3;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-total {
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.5rem;
}

.alert {
    margin-top: 40px;
    margin-bottom: 20px;
}
.shop {
    color: #1C593A;
    font-weight: bold;
    text-decoration: underline !important;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.shop:hover {
    color: #529F76;
}
.back{
    color: #12452C;
    font-size: 44px;
    position: absolute;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.back:hover {
    color: #33845D;
}