<div class="container py-4 my-4 mx-auto d-flex flex-column">
    <!-- Return Button -->
    <a [routerLink]="['/listePlantes']">
        <button class="return-btn">Retour</button>
    </a>
    <hr>

    <!-- Header -->
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 title">
                <h1>{{ plant.name }}</h1>
            </div>
           
            <p class="text-right category"><strong>Categorie :</strong> {{ plant.category }}</p>
        </div>
    </div>

    <!-- Body of the page -->
    <div class="container-body mt-4">
        <div class="row r3">
            <!-- Plant Image -->
            <div class="col-lg-5 col-md-6 col-sm-12">
                <img [src]="plant.images" alt="Image of {{ plant.name }}">
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12">
               <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <!-- Footer --> 
    <div class="footer d-flex flex-column mt-5">
        <div class="row r4">
            <div class="col-md-2">
                <a [routerLink]="['description']" routerLinkActive="active" title="Description">Description</a>
            </div>
            <div class="col-md-2">
                <a [routerLink]="['comments']" routerLinkActive="active" title="Commentaires">Commentaires</a>
            </div>
            <div class="col-md-2 d-flex justify-content-end flex-grow-1" style="cursor: pointer;">
                <a (click)="addToCart(plant)" title="Ajouter au panier">Ajouter au panier</a>
            </div>
        </div>
    </div>
</div>
