.container {
    background: #629A74 !important;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px #1C593A;
}

.title {
    padding-left: 120px;
    color: #ffffff;
    padding-top: 20px;
}

.note {
    padding-right: 70px;
    padding-top: 40px;
}

.return-btn {
    background-color: #1C593A;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #1C593A;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    letter-spacing: 1px;
}
.return-btn:hover {
    background-color: #79BA91; 
    color: #1C593A; 
    border: 1px solid #1C593A;
}

.category {
    float: right;
    margin-right: 0;
    padding-left: 70%;
}

li {
    list-style: none;
    line-height: 50px;
}

strong{
    color: #1C593A;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

img{
    border-radius: 20px;
    box-shadow: 0 0 15px #1C593A;
    margin: 20px;
    width: 90%;
    height: 90%;
}
.col-md-2 {
    padding-bottom: 20px;
    font-weight: bold;
}

.col-md-2 a {
    text-decoration: none;
    color: #000;

}
.active{
    border-bottom: 5px solid #1C593A;
    border-radius: 5px;
    color: #1C593A !important;
    letter-spacing: 1px;
}

.col-md-2 {
    font-size: 16px;
    padding-top: 7px;
}

.col-md-2 a:hover {
    color: #1C593A !important;
    border-bottom: 5px solid #1C593A;
    border-radius: 5px;
}


.r4 {
    padding-left: 25px
}

.btn-outline-warning {
    border-radius: 0;
    border: 2px solid #1C593A;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    width: 70%
}

