<div class="container justify-content-center">
    <div class="d-flex justify-content-center pt-5 pb-2"> 
        <input type="text" name="text" placeholder="Votre nom +" #name class="form-control addtxt">
    </div>
    <div class="d-flex justify-content-center pt-3 pb-2"> 
        <input type="text" name="text" placeholder="Votre commentaire +" #comment class="form-control addtxt"> 
    </div>
    <div class="d-flex justify-content-end btn-add">
         <button class="btn" (click)="onAddComment(name.value,comment.value)">Ajouter</button> 
    </div>

        <!------------------------liste des commentaires--------------------------------> 
    <div class="mb-5 mt-2">  
        @for(com of tabcom;track $index){
            <div class="d-flex justify-content-center py-2">
                <div class="second py-2 px-3"> 
                    <span class="text1">{{com.message}}</span>
                    <div class="d-flex justify-content-between py-1 pt-2">
                        <div>
                            <img src="https://i.imgur.com/AgAC1Is.jpg" width="18"><span class="text2">{{com.nom}}</span>
                        </div>
                        <div>
                            <span class="text3">{{com.nbLikes}}</span>
                           
                            <button class="like" (click)="onAddLike($index)" [ngClass]="{'liked': com.liked}"><i class="bi bi-emoji-heart-eyes"></i></button>
                           
                        
                        </div>
                    </div>
                </div>
            </div>
        } 
   </div>
   
</div>