.container {
    background-color: #1C593A;
    border-radius: 10px;
    border: 2px solid #5B8F6D;
    box-shadow: 0 0 15px #1C593A;
    overflow: auto;
    height: 500px;
}

.addtxt {
    text-align: center;
    font-size: 13px;
    width: 500px;
    background-color: #B9F1C3;
    border: 3px solid #629A74;
    font-weight: bold;
    padding: 10px;
}

.form-control:focus {
    color: #000;
}

.second {
    width: 480px;
    background-color: #B9F1C3;
    border: 3px solid #629A74;
    border-radius: 4px;
}

.text1 {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}

.text2 {
    font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
    color: #56575b;
}

.text3 {
    font-size: 13px;
    font-weight: 500;
    color: #828386;
    margin-right: 10px;
}

.like {
    color: #00a5f4;
    border: none;
    background-color: #B9F1C3;
}

.like:hover {
    color: blue;
    transform: scale(1.2);
}

.like:active {
    color: #00a5f4;
    transform: scale(1);
}

.liked {
    color: blue;
    transform: scale(1.2);
}

.submit-btn {
    background-color: #1C593A;
    color: #ffffff;
    width: 20%;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #1C593A;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 83px;

}

.submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}

.submit-btn:hover {
    background-color: #79BA91;
    color: #1C593A;
    border: 1px solid #1C593A;
}

.pAlert {
    color: #591c1c;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: left;
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched,
select.ng-valid.ng-touched {
    border-left: 7px solid #1C593A;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    border-left: 7px solid #591c1c;
}