<div class="container py-4 my-4 mx-auto d-flex flex-column">
    <!-- Return Button -->
    <a [routerLink]="['/ListePlantesAdmin']">
        <button class="return-btn">Return</button>
    </a>
    <hr>

    <!-- Header -->
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 title">
                <h1>{{ plant.name }}</h1>
            </div>
            <div class="col-md-3 text-right note">
                <span>⭐⭐⭐⭐⭐</span>
            </div>
            <p class="text-right category"><strong>Category :</strong> {{ plant.category }}</p>
        </div>
    </div>

    <!-- Body of the page -->
    <div class="container-body mt-4">
        <div class="row r3">
            <!-- Plant Image -->
            <div class="col-lg-5 col-md-6 col-sm-12">
                <img [src]="plant.images[0]" alt="Image of {{ plant.name }}">
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12">
               <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <!-- Footer --> 
    <div class="footer d-flex flex-column mt-5">
        <div class="row r4">
            <div class="col-md-2 myt des">
                <a [routerLink]="['descriptionAdmin']" routerLinkActive="active">View Description</a>
            </div>
            <div class="col-md-2 myt">
                <a [routerLink]="['comments']" routerLinkActive="active">View Comments</a>
            </div>
            
            
        </div>
    </div>
</div>
