<div class="container my-5">
    <h2 class="text-center mb-4 cart-header">Liste des Commandes <i class="bi bi-list-check"
            style="margin-left: 20px;"></i></h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover ">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Nom et Prénom</th>
                    <th scope="col">ID Commande</th>
                    <th scope="col" >Montant</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">État de la Commande</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody class="table-info">
                @for(c of commandes;track $index){
                <tr>
                   
                    <td>{{c.nom}}</td>
                    <td>{{c.prenom}}</td>
                    <td>{{c.total}}$</td>
                    <td>{{c.tel}}</td>
                    <td>{{c.adresse}}</td>
                    <td><button (click)="onValiderCommande(c.id)" [ngClass]="(c.etat == 'en attente') ? 'btn btn-warning' : 'btn btn-success'">{{c.etat}}</button></td>
                    <td>
                        <div class="d-flex justify-content-center gap-2">
                            <button class="btn btn-primary btn-sm" type="button" 
                                data-bs-toggle="offcanvas"
                                data-bs-target="#$index" aria-controls="offcanvasExample" 
                                title="Voir" >
                                <i class="bi bi-eye-fill"></i>
                            </button>
                            <button class="btn btn-danger btn-sm" title="Supprimer" (click)="onDeleteCommande(c.id)"><i
                                    class="bi bi-trash3-fill"></i>
                            </button>
                        </div>
                    </td>
                </tr>}
            </tbody>
        </table>

        <!-- Offcanvas: aperçu de la commande -->
        @for(c of commandes;track $index){
        <div class="offcanvas offcanvas-start bg-success" tabindex="-1" [id]="$index"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Aperçu de la commande {{$index}}</h5>
                    <p class="text-white" style="font-size: 1.2rem; margin: 0;">Total: {{c.total}}$</p>
                </div>
                
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            @for(p of c.articles;track $index){
            <div class="offcanvas-body text-white">
                <h3>{{p.name}}</h3>
                <p>Prix: {{p.price}}$</p>
                <p>Quantité: 2</p>
                <hr>
                
            </div>}
        </div>}
    </div>
</div>