
.c1 {
    background-color: green;
}
.c2 {
    background-color: red;
}
.discount{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 15px;
    border-radius: 6px;
    color: #fff;
}

.wishlist {
    height: 40px;
    width: 40px;
    background-color: #bddac2;
    color: #b85252;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    transition: all 0.3s ease;
}

.wishlist:hover {
    transform: scale(1.1);
}
button{
    cursor: pointer;
}

.wishlist:active {
    transform: scale(1.15);
    background-color: #b85252;
    color: #fff;
}


.first {
    position: absolute;
    width: 100%;
    padding: 9px;
}

.new-price {
    font-size: 17px;
    font-weight: bold;
    color: red;

}

.old-price {
    font-size: 14px;
    font-weight: bold;
    color: grey;
    text-decoration: line-through;
}

.title {
    font-size: 17px;
    font-weight: bold;
    color: #1C593A;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image {
    transition: filter 0.3s ease;
}

.image:hover {
    filter: brightness(1.1) contrast(1.05);
}

#delete-btn{
    color: #fff;
}
#delete-btn:hover{
    background-color: #6d3434;
    color: #fff;
}

#viewPlant{
    background-color: #529F76;
    color: #fff;
    border: 1px solid #529F76;
}
#viewPlant:hover{
    background-color: #79BA91;
    color: #1C593A;
    border: 1px solid #1C593A;
}
