<div class="row align-items-center py-5 m-4">
    
    <div class="col-lg-4 contact-details">
        <img src="passerCommande.png" alt="Login Image" />
        <h2>Passer la commande</h2>
        <p>Veuillez entrer vos informations </p>
    </div>

    <div class="col-lg-8 contact-form">
        <!--formulaire pour passer une commande-->
        <form [formGroup]="commandeForm" [hidden]="formHide" (ngSubmit)="onCommande()">
            <!--champ pour le nom-->
            <div class="mb-3">
                <label for="name" class="form-label">Nom :</label>
                <input type="text" class="form-control" id="name" placeholder="Entrez votre nom" name="name" formControlName="nom"/>
                @if(nom?.errors?.['minlength'] && nom?.touched){
                    <p class="pAlert">Minimum 3 caractères</p>
                }
                @if(nom?.errors?.['maxlength'] && nom?.touched){
                    <p class="pAlert">Maximum 20 caractères</p>
                }
                @if(nom?.errors?.['pattern'] && nom?.touched){
                    <p class="pAlert">Seuls les lettres sont autorisées</p>
                }
                @if(nom?.errors?.['required'] && nom?.touched){
                    <p class="pAlert">Veuillez remplir ce champ</p>
                }
            </div>
            <!--champ pour le prénom-->
            <div class="mb-3">
                <label for="firstname" class="form-label">Prénom :</label>
                <input type="text" class="form-control" id="firstname" placeholder="Entrez votre prénom" name="firstname" formControlName="prenom" />
                @if(prenom?.errors?.['minlength'] && prenom?.touched){
                    <p class="pAlert">Minimum 3 caractères</p>
                }
                @if(prenom?.errors?.['maxlength'] && prenom?.touched){
                    <p class="pAlert">Maximum 20 caractères</p>
                }
                @if(prenom?.errors?.['pattern'] && prenom?.touched){
                    <p class="pAlert">Seuls les lettres sont autorisées</p>
                }
                @if(prenom?.errors?.['required'] && prenom?.touched){
                    <p class="pAlert">Veuillez remplir ce champ</p>
                }
            </div>
            <!--champ pour le téléphone-->
            <div class="mb-3">
                <label for="tel" class="form-label">Téléphone :</label>
                <input type="number" class="form-control" id="tel" placeholder="Entrez votre téléphone" name="tel"
                    formControlName="tel" />
                    @if(tel?.errors?.['pattern'] && tel?.dirty){
                        <p class="pAlert">Numéro de téléphone invalide</p>
                    }@else if(tel?.errors?.['required'] && tel?.touched){
                        <p class="pAlert">Veuillez remplir ce champ</p>
                    }
            </div>
            <!--champ pour l'adresse-->
            <div class="mb-3">
                <label for="adresse" class="form-label"> Adresse</label>
                <input type="text" class="form-control" id="Adresse" placeholder="Entrez votre adresse" name="adresse"
                    formControlName="adresse" />
                    @if(adresse?.errors?.['required'] && adresse?.touched){
                        <p class="pAlert">Veuillez remplir ce champ</p>
                    }
                    @if(adresse?.errors?.['minlength'] && adresse?.touched){
                        <p class="pAlert">Minimum 3 caractères</p>
                    }
                   
            </div>
            <!--bouton pour passer la commande-->
            <button type="submit" 
                    class="submit-btn" 
                    [disabled]="commandeForm.invalid">Passer la commande <i class="bi bi-cash-coin" style="margin-left: 10px;"></i>
            </button>
        </form>
        <!--message de succès de la commande si elle est passée-->
        <div class="alert alert-success container text-center" role="alert" [hidden]="msgHide">
           Commande passsée avec succés ! Faites un tour dans la  <a routerLink="/home" class="shop" title="Back to shop"> page d'accueil</a> 
        </div>
    </div>

</div>