<div class="text-center welcome py-5 text-white">
    <div class="welcome-content">
        <h1 class="display-4">Welcome to PlantBuddy</h1>
        <p class="lead px-5">PlantBuddy est votre destination en ligne pour acheter des plantes de qualité. Nous proposons
            une vaste sélection de plantes d'intérieur et d'extérieur, accompagnées de conseils pour les entretenir.
            Découvrez la beauté des plantes et embellissez votre espace avec PlantBuddy!</p>
        <button class="button" (click)="onAboutUs()">
            <span>About Us!</span>
        </button>
    </div>
</div>

<!-- New Products -->
<h2 class="text-center mt-5">New Products</h2>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active bg-dark"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" class="bg-dark"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" class="bg-dark"
            aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">

        <div class="carousel-item active" data-bs-interval="4000">
            <a href="listePlantes#plant-fleuries">
                <img src="first.gif" class="d-block" style="height: 350px; width: 100%;" alt="...">
            </a>
            <!-- <div class="carousel-caption d-none d-md-block text-dark">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div> -->
        </div>


        <div class="carousel-item" data-bs-interval="4000">
            <a href="listePlantes#plant-cactus">
                <img src="second.gif" class="d-block" style="height: 350px; width: 100%;" alt="...">
            </a>
            <!-- <div class="carousel-caption d-none d-md-block text-dark">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div> -->
        </div>


        <div class="carousel-item" data-bs-interval="4000">
            <a href="listePlantes#plant-purificatrices">
                <img src="third.gif" class="d-block" style="height: 350px; width: 100%;" alt="...">
            </a>
            <!-- <div class="carousel-caption d-none d-md-block text-dark">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div> -->
        </div>

    </div>

    <!-- <button class="carousel-control-prev buttonCarousel" type="button" data-bs-target="#carouselExampleFade"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next buttonCarousel" type="button" data-bs-target="#carouselExampleFade"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button> -->
</div>
<button class="button mt-3 mb-5 mx-auto d-block w-50" (click)="onShowAllPlants()">
    <span>Show All Plants</span>
</button>

<!-- Quiz -->
<app-quiz></app-quiz>

<!-- Explore by Category -->
<h2 class="text-center mt-5">Explore by Category</h2>

<div class="d-flex justify-content-center row row-cols-1 row-cols-md-4" style="width: 100%;">
    <!-- Fleurs -->
    <div class="col">
        <a href="listePlantes#plant-fleuries">
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-innerFleur"></div>
            </div>
        </a>
    </div>
    <!-- Cactus -->
    <div class="col">
        <a href="listePlantes#plant-cactus">
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-innerCactus"></div>
            </div>
        </a>
    </div>
    <!-- Air -->
    <div class="col">
        <a href="listePlantes#plant-purificatrices">
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-innerAir"></div>
            </div>
        </a>
    </div>
</div>

<h2 class="text-center mt-5">Contact Us</h2>
<div style="width: 100%; background-color: #1C593A;">
    <app-contact-us></app-contact-us>
</div>