<div class="text-center welcome py-5 text-white">
    <div class="welcome-content">
        <h1 class="display-4">Bienvenue chez PlantBuddy</h1>
        <p class="lead px-5">
            PlantBuddy est votre destination en ligne pour acheter des plantes de qualité. Nous proposons
            une vaste sélection de plantes d'intérieur et d'extérieur, accompagnées de conseils pour les entretenir.
            Découvrez la beauté des plantes et embellissez votre espace avec PlantBuddy!
        </p>
        <button class="button" (click)="onAboutUs()">
            <span>À propos</span>
        </button>
    </div>
</div>

<!-- ------------------------------ les nouveaux produits ------------------------------ -->
<h2 class="text-center mt-5">Nouveaux produits</h2>

<!-- ------------------------------ le carousel ------------------------------ -->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <!-- ------------------------------ les indicateurs du carousel ------------------------------ -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active bg-dark"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" class="bg-dark"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" class="bg-dark"
            aria-label="Slide 3"></button>
    </div>

    <!-- ------------------------------ les items du carousel ------------------------------ -->
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <a [routerLink]="['/plant', 46]">
                <img src="first.gif" class="d-block w-100" style="height: 350px;" alt="First slide image">
            </a>
        </div>

        <div class="carousel-item" data-bs-interval="4000">
            <a [routerLink]="['/plant', 5]">
                <img src="second.gif" class="d-block w-100" style="height: 350px;" alt="Second slide image">
            </a>
        </div>

        <div class="carousel-item" data-bs-interval="4000">
            <a [routerLink]="['/plant', 23]">
                <img src="third.gif" class="d-block w-100" style="height: 350px;" alt="Third slide image">
            </a>
        </div>
    </div>

    <!-- Carousel Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- ------------------------------ le bouton pour aller au catalogue des plantes ------------------------------ -->
<button class="button mt-3 mb-5 mx-auto d-block w-50" (click)="onShowAllPlants()">
    <span>Voir tout le catalogue</span>
</button>

<!-- ------------------------------ le quiz ------------------------------ -->
<app-quiz></app-quiz>

<!-- ------------------------------ la navigation par catégorie ------------------------------ -->
<h2 class="text-center mt-5">Nos catégories dans PlantBuddy</h2>
<p class="text-muted text-center">Voici nos différentes catégories de plantes</p>

<div class="d-flex justify-content-center row row-cols-1 row-cols-md-4" style="width: 100%;">
    <!-- ------------------------------ les fleurs ------------------------------ -->
    <div class="col">
        <a>
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-innerFleur"></div>
            </div>
        </a>
    </div>
    <!-- ------------------------------ les cactus et succulentes ------------------------------ -->
    <div class="col">
        <a >
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-innerCactus"></div>
            </div>
        </a>
    </div>
    <!-- ------------------------------ les plantes purificatrices d'air ------------------------------ -->
    <div class="col">
        <a>
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-innerAir"></div>
            </div>
        </a>
    </div>
</div>

<!-- ------------------------------ la page de contact ------------------------------ -->
<h2 class="text-center mt-5">Nous contacter</h2>
<div style="width: 100%; background-color: #1C593A;">
    <app-contact-us></app-contact-us>
</div>