.active {
    background-color: #f9bc60;
    color: #1C593A !important;
    border-bottom: 5px solid #1C593A;
}

.navbar {
    padding: 0;
    background-color: #529F76;
    color: #fffffe;
    font-size: 20px;    
}

.login-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #f9bc60;
    width: 100%;
    padding-left: 10px;
}
.login-container:hover {
    background-color: #ce9c50;
    
}
.login-container:active {
    transform: scale(0.95);
}

/* Navbar2 Styles */
.nav2 {
    box-shadow: 0 4px 6px #1C593A;
    border-radius: 8px;
}

.cart-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    border-radius: 30px ;
    transition: background-color 0.3s ease, transform 0.2s ease;
    color: #1C593A;
    background-color: #f9bc60;
    border: none;
}

.cart-button i {
    font-size: 1.2rem;
}

.cart-button:hover {
    transform: scale(1.05);
}
.cart-button:active {
    background-color: #ce9c50;
    transform: scale(0.95);
    color: #1C593A;
}

.sticky {
    position: sticky;
    top: 5px;
    z-index: 1000;
}

img{
    width: 150px;
    height: 100px;
    margin-left: 20px;
}
img:hover{
    transform: scale(1.05);
}
