.section-title {
    padding: 15px;
    background: #72B58C;
    border: 1px solid #72B58C;
    border-left: 7px solid #1C593A;
    color: white;
}
.section-decriptipon{
    margin-bottom: 15px;
    padding: 40px;
    color: #1E2024;
    font-size: 17px;
    font-weight: bolder;
}
/* .card-title {
    color: #1C593A;
    font-weight: bold;
    font-size: 1.75rem;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 15px;
}
.cardDEC{
    border: 1px solid #1C593A;
    background-color: #72B58C;
    max-height: 600px;
    min-height: 600px;
}
.card-body{
    overflow: auto;
} */