<div class="row align-items-center py-5 m-4">
    <!-- login header -->
    <div class="col-lg-4 contact-details">
        <img src="login.png" alt="Login Image" />
        <h2>Se connecter</h2>
        <p>Connectez vous à votre compte administrateur</p>
    </div>
    <!-- login form -->
    <div class="col-lg-8 contact-form">
        <form [formGroup]="loginForm" (ngSubmit)="onEnvoyer()">
            <!-- user -->
            <div class="mb-3">
                <label for="user" class="form-label">Nom d'utilisateur :</label>
                <input type="text" class="form-control" id="user" placeholder="Entrez votre Nom d'utilisateur"
                    name="user" formControlName="user" />
                @if(user?.errors?.['required'] && user?.touched){
                <p class="pAlert">Veuillez remplir ce champ</p>
                }
                @if(user?.errors?.['pattern'] && user?.touched){
                <p class="pAlert">Nom d'utilisateur invalide</p>
                }
                @if(user?.errors?.['minlength'] && user?.touched){
                <p class="pAlert">Minimum 3 caractères</p>
                }
                @if(user?.errors?.['maxlength'] && user?.touched){
                <p class="pAlert">Maximum 20 caractères</p>
                }
            </div>
            <!-- password -->
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe :</label>
                <input type="password" class="form-control" id="password" placeholder="Entrez votre mot de passe"
                    name="password" formControlName="pwd" />
                @if(pwd?.errors?.['required'] && pwd?.touched){
                <p class="pAlert">Veuillez remplir ce champ</p>
                }
                @if(pwd?.errors?.['pattern'] && pwd?.touched){
                <p class="pAlert">Mot de passe invalide</p>
                }
                @if(pwd?.errors?.['minlength'] && pwd?.touched){
                <p class="pAlert">Minimum 3 caractères</p>
                }
                @if(pwd?.errors?.['maxlength'] && pwd?.touched){
                <p class="pAlert">Maximum 20 caractères</p>
                }
            </div>
            <!-- submit -->
            <button type="submit" class="submit-btn" [disabled]="loginForm.invalid">
                Se connecter <i class="bi bi-box-arrow-in-right" style="margin-left: 10px;"></i>
            </button>
        </form>
    </div>
    <!-- Modal Bootstrap pour afficher le message d'erreur si le nom d'utilisateur ou le mot de passe est incorrect -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Nom d'utilisateur ou mot de passe incorrect</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Veuillez vérifier votre nom d'utilisateur et votre mot de passe.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>