<div class="profile-container">
    <h1>Profil Administrateur</h1>
    <div class="profile-info">
        <p><strong>Nom : </strong><span id="admin-name">{{admin.username}}</span></p>
        <p><strong>Mot de passe actuel : </strong><span id="admin-password">{{admin.pwd}}</span></p>
    </div>
    <button id="edit-password-btn" (click)="onModifier()">Modifier le mot de passe</button>

    <div id="password-form" class="">

        <form id="change-password-form" [formGroup]="profilForm" (ngSubmit)="onConfirmer()" [hidden]="hideForm">
            <h2>Modifier le mot de passe</h2>
            <!-- Mot de passe actuel -->
            <label for="current-password">Mot de passe actuel :</label>
            <input type="password" id="current-password" formControlName="mdpActuel">
            @if(mdp?.value !== admin.pwd && mdp?.dirty){
                <p class="pAlert">Mot de passe incorrect</p>
            }
            @if(mdp?.invalid && mdp?.touched){
            <p class="pAlert">Veuillez remplir ce champ</p>
            }
            @if(mdp?.errors?.['minlength'] && mdp?.touched){
            <p class="pAlert">Minimum 3 caractères</p>
            }
            @if(mdp?.errors?.['maxlength'] && mdp?.touched){
            <p class="pAlert">Maximum 20 caractères</p>
            }

            <!-- Nouveau mot de passe -->
            <label for="new-password">Nouveau mot de passe :</label>
            <input type="password" id="new-password" formControlName="mdpNew">
            @if(newPwd?.value !== mdpconfirm?.value && mdpconfirm?.dirty){
                <p class="pAlert">Ces champs doivent être identiques </p>
            }
            @if(newPwd?.invalid && newPwd?.touched){
            <p class="pAlert">Veuillez remplir ce champ</p>
            }
            @if(newPwd?.errors?.['minlength'] && newPwd?.touched){
            <p class="pAlert">Minimum 3 caractères</p>
            }
            @if(newPwd?.errors?.['maxlength'] && newPwd?.touched){
            <p class="pAlert">Maximum 20 caractères</p>
            }

            <!-- Confirmer le mot de passe -->
            <label for="confirm-password">Confirmer le mot de passe :</label>
            <input type="password" id="confirm-password" formControlName="mdpConfirm">
            @if(newPwd?.value !== mdpconfirm?.value && mdpconfirm?.dirty){
                <p class="pAlert">Ces champs doivent être identiques </p>
            }
            @if(mdpconfirm?.invalid && mdpconfirm?.touched){
            <p class="pAlert">Veuillez remplir ce champ</p>
            }
            @if(mdpconfirm?.errors?.['minlength'] && mdpconfirm?.touched){
            <p class="pAlert">Minimum 3 caractères</p>
            }
            @if(mdpconfirm?.errors?.['maxlength'] && mdpconfirm?.touched){
            <p class="pAlert">Maximum 20 caractères</p>
            }   

            <!-- Boutons de confirmation et d'annulation -->
            <button type="submit" [disabled]=" newPwd?.value !== mdpconfirm?.value || profilForm.invalid">Confirmer</button>
            <button type="button" id="cancel-btn" (click)="onReset()">Annuler</button>
        </form>
    </div>
</div>